.build/
build/
.deriveddata/
.xcode-derived-data/
DerivedData/
_xcode_home/
_SourcePackages/
.swiftpm/
_tmp/
.home/
.cache-home/
.spm-cache/
.clang-cache/
.sandbox_cache/
.sandbox_home/
.sandbox_tmp/
.xcode-cache/
.xcode-home/
*.xcresult/
1/_tmp/
1/.cache-home/
1/.clang-cache/
1/.sandbox_cache/
1/.sandbox_home/
1/.sandbox_tmp/
1/.xcode-cache/
1/.xcode-home/
rss mac/.xcode-derived-data/
rss mac/Packages/mlx-audio-swift/build/
